{{> panel/head headTitle = 'about'}}

{{> panel/header}}

<section class="about comman-padd text-center">
	<h3 class="sub-heading">About Us</h3>
	<p class="sub-para">Lorem Ipsum dolar sit consectuter adipiscing</p>
	<div class="about-para">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
			standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
			type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
			remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
			Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
			Lorem Ipsum.</p>
	</div>
</section>
<section class="mission comman-padd pt-sm-3">
	<div class="row">
		<div class="col-md-6">
			<p class="sub-para ">Our Mission</p>
			<hr class="small-line">

			<div class="about-para pt-2">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
					standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
					type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
					remaining essentially unchanged. </p>
			</div>
			<div class="side-para">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
					standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
					type specimen book.
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="img-wrapper text-right">
				<img src="{{publicPanelUrl}}/img/about.png" width="80%">
			</div>
		</div>
	</div>
</section>
<br><br>




{{> panel/footer}}
{{> panel/footer-link}}