{{> panel/head headTitle = 'about'}}

{{> panel/header}}

<section class="about comman-padd text-center">
	<h3 class="sub-heading">About Us</h3>
	<p class="sub-para">Bridging The Gap Between Scholarship Providers and Seekers</p>
	<div class="about-para" style="text-align: left">
		<p>In Indian education system, much efforts have been put by government to promote education. These efforts include but not limited to Sarva Shiksa Abhiyan (SSA), mid-day meal, National Literacy Mission, Save Girl Child etc. All these efforts has attracted increased resources and attention of the masses. This is quite evidently noticeable in increased enrolments in schools and decreased dropout rates. <br> 
Although these efforts are able to improve access to education, but per a research done by government body, these efforts are not able to improve interest in education and school participation or "going to school" thing. To address this, various encouragements such as scholarship, fellowships, grants, awards has been introduced by various public and private undertaking. However such programs of financial assistance are still either not accessible or unknown to target masses. Not only this, scarcity of scholarship application process information is setback to seekers.</p>
	</div>
</section>
<section class="mission comman-padd pt-sm-3">
	<div class="row">
		<div class="col-md-6">
			<p class="sub-para ">Our Mission</p>
			<hr class="small-line">

			<div class="about-para pt-2">
				<p>The gap between scholarship providers and seekers remains largely wide. And this is the space where ScholarSathi emerges, mentors and gears scholarship seekers with means and resources to access most suitable scholarships. ScholarSathi also aims to organize the largely unorganized scholarship ecosystem in India. Applying Artificial-Intelligence, scholarship data is sliced-n-diced per seekers profile and presented in a simplified and understandable manner. Seekers get a one stop solution for their scholarship needs. </p>
			</div>
			<div class="side-para">
				<p>
					For scholarship providers, we offer highly customizable and robust end-to-end scholarship tracking solutions and services including but not limited to promotion, application management, scrutiny and selection, short listing, in-person/telephonic interviews, documentation, verification and scholarship disbursal. With various innovative and flagship services, ScholarSathi also work with various organizations for CSR implementation in education system. 

				</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="img-wrapper text-right">
				<img src="{{publicPanelUrl}}/img/about.png" width="80%">
			</div>
		</div>
	</div>
</section>
<br><br>




{{> panel/footer}}
{{> panel/footer-link}}