{{> panel/head headTitle = 'Saved Scholarship | Scholarsathi'}}

{{> panel/header}}

<section class="contact about text-center ">
     {{> panel/my-account-text}}
     <!-- <p class="sub-para">Lorem ipsum dolar sit amet adipiscing</p> -->

     <div class="account-wrapper comman-pad">
          <div class="row">
               <div class="col-lg-4">
                    {{> panel/profile-left-card}}
               </div>
               <div class="col-lg-8">
                    <div class="my-profile">
                         <p class="fs-20 m-0">My Saved Scholarship</p>
                         <hr class="small-line">

                         <div class="saved-scholarship">
                              {{> panel/scholarship-card}}
                         </div>
                    </div>
               </div>
          </div>

     </div>

</section>
<br><br>

{{> panel/footer}}
{{> panel/footer-link}}