{{> panel/head headTitle = 'T&C'}}

{{> panel/header}}

<section class="about comman-padd">
	<h3 class="sub-heading text-center">Term And Conditions</h3>
	<!-- <p class="sub-para">Lorem Ipsum dolar sit consectuter adipiscing</p> -->
	<div class="about-para" style="display:inline-block;width:90%;margin:30px;padding:20px; border-radius:10px; border:2px solid #33d2ff; ">
		<p>By using the website, <strong>www.scholarsathi.com</strong>, or any of its services, you agree to abide by following terms of service of website <strong>www.scholarsathi.com.</strong> Visitor and User is referred to any visitor, user, subscriber, corporate, institution using the website. The use of the website is referred to as registering, browsing, accessing or using the website and any of its services. Please read carefully the following terms of service including any additional guidelines and future modifications:
      <ul>
<li>We, Scholarsathi team, reserves the right to modify these terms of service at any time. Please check these periodically for changes. </li>
<li>Website should not be used by user previously banned/suspended/removed from website by Scholarsathi team. </li>
<li>To use website or its services, users must be more than 18years of age. </li>
<li>In case users age is below 18, he/she should use website under guidance and supervision of his parent or legal guardian. In such cases, Scholarsathi team might contact parent or legal guardian. </li>
<li>We take user's privacy seriously and never disclose your information to any third party. We never send SMS or email without your consent. </li>
<li>Scholarship information provided by us is for reference and informational purpose only. You, as a user, should verify the information with original source before using the information. </li>
<li>Use of website and its service is permitted for personal use only. User should not use the website and its service for commercial purpose unless authorized by Scholarsathi. </li>
<li>By registering and verifying your mobile phone and/or email, you give us consent to contact you and/or send you alert related to scholarships. If you no longer wish to receive such alerts, you will let scholarsathi team know.</li>
<li>As a part of scholarship information, website includes certain links and/or reference to other external website link and/or materials (here by referred to as external links). Scholarsathi does not endorse theese external link and does not verify their authenticity. Accessing these external links is solely at the user discretion. </li>
</ul> 
</p>
		<!-- <p>{{{appDetail.tnc}}}</p> -->

	</div>


</section>

<br><br>




{{> panel/footer}}
{{> panel/footer-link}}