{{> admin/head headTitle = 'add admin'}}
<div class="wrapper">
    {{> admin/header}}

    {{> admin/sidenav}}



    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Admin
                <!-- <small>Control panel</small> -->
            </h1>
            <!-- <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol> -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <!-- left column -->
                <div class="col-md-6 col-md-offset-3">

                    {{#if success}}

                    {{#each success}}
                    <div class="alert alert-success">
                        <strong>Success!</strong> {{this}}
                    </div>
                    {{/each}}
                    {{else if error}}

                    {{#each error}}
                    <div class="alert alert-danger">
                        <strong>Danger!</strong> {{this}}
                    </div>
                    {{/each}}
                    {{/if}}
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Add new admin</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" action="{{baseUrl}}/admin/add-admin" method="POST" enctype="multipart/form-data">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="mobile">Mobile</label>
                                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter mobile">
                                </div>
                                <div class="form-group">
                                    <label for="password">password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Enter password">
                                </div>
                                <div class="form-group">
                                    <label>Select type</label><br>
                                    {{#each adminRoles as |role index|}}
                                    <label style="min-width: 30%;">
                                        <input type="radio" {{checkedSingleOption role.id 1}} value="{{role.id}}" name="role_id">
                                        {{role.name}}
                                    </label>
                                    {{/each}}
                                </div>
                                <div class="form-group">
                                    <label for="file">Upload Image</label>
                                    <input type="file" id="file" name="file">
                                    <!-- <p class="help-block">Example block-level help text here.</p> -->
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->



                </div>
                <!--/.col (left) -->

            </div>
            <!-- /.row -->


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {{> admin/footer}}



</div>
<!-- ./wrapper -->

{{> admin/footer-link}}