<!-- <script type="text/javascript" src="{{publicUrl}}/panel/js/jquery.slim.min.js"></script> -->
<script type="text/javascript" src="{{publicUrl}}/panel/js/popper.min.js"></script>
<script type="text/javascript" src="{{publicUrl}}/panel/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{publicUrl}}/panel/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{publicUrl}}/panel/js/boottoast.js"></script>

{{{_sections.footer}}}


<script type="text/javascript" src="{{publicUrl}}/panel/js/main.js"></script>
 

</body>
</html>