<input type="hidden" id="baseUrl" value="{{baseUrl}}">
<header class="main-header">
    <!-- Logo -->
    <a href="{{baseUrl}}/admin" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>S</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Scholar</b>SATHI</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{#if admin.img}}
                        <img src="{{baseUrl}}{{admin.img}}" class="user-image" alt="User Image">
                        {{/if}}
                        <span class="hidden-xs">{{admin.name}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            {{#if admin.img}}
                            <img src="{{baseUrl}}{{admin.img}}" class="img-circle" alt="User Image">
                            {{/if}}

                            <p>
                                name: {{admin.name}}
                                <small>role: {{role}}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{baseUrl}}/admin/update-admin/{{admin.id}}" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{baseUrl}}/admin/logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

    </nav>
</header>


<div id="loader-div">
    <img src="{{publicPanelUrl}}/img/loader.gif">
</div>